In [ ]:
import json
import requests
import pandas as pd

In [ ]:
with open("J_01.json", "r") as read_file:
    j1 = json.load(read_file)

In [ ]:
print(data)

{'squats': [{'in_and_out': [45, 100, 108, 164, 170, 230, 240, 292, 300, 353], 'class_label': ['correct', 'correct', 'correct', 'correct', 'correct']}]}

In [ ]:
type(data)

dict

In [ ]:
with open("J_02.json", "r") as read_file:
    j2 = json.load(read_file)

In [ ]:
print(j2)

{'squats': [{'in_and_out': [30, 91, 100, 150, 164, 213, 218, 266, 278, 330], 'class_label': ['correct', 'correct', 'correct', 'correct', 'correct']}]}

In [ ]:
with open("J_03.json", "r") as read_file:
    j3 = json.load(read_file)
with open("J_04.json", "r") as read_file:
    j4 = json.load(read_file)
with open("J_05.json", "r") as read_file:
    j5 = json.load(read_file)
with open("J_06.json", "r") as read_file:
    j6 = json.load(read_file)
with open("J_07.json", "r") as read_file:
    j7= json.load(read_file)
with open("J_08.json", "r") as read_file:
    j8 = json.load(read_file)
with open("J_09.json", "r") as read_file:
    j9 = json.load(read_file)

In [ ]:
#with open("S_01.json", "r") as read_file:
  #  s1 = json.load(read_file)
with open("S_02.json", "r") as read_file:
    s2 = json.load(read_file)
with open("S_03.json", "r") as read_file:
    s3 = json.load(read_file)
with open("W_01.json", "r") as read_file:
    w1 = json.load(read_file)
with open("W_02.json", "r") as read_file:
    w2 = json.load(read_file)
with open("a.json", "r") as read_file:
    aj = json.load(read_file)
with open("ax.json", "r") as read_file:
    axj = json.load(read_file)
with open("l.json", "r") as read_file:
    lj = json.load(read_file)
with open("n.json", "r") as read_file:
    nj = json.load(read_file)
with open("r.json", "r") as read_file:
    rj = json.load(read_file)
with open("ry.json", "r") as read_file:
    ryj = json.load(read_file)
with open("t.json", "r") as read_file:
    tj = json.load(read_file)

combining video details into dictionaries

In [ ]:
vid_users = {**j1,**j2,**j3,**j4,**j5,**j6,**j7,**j8,**j9,**s2,**s3,**w1,**w2,**aj,**axj,**lj,**nj,**rj,**ryj,**tj}

In [ ]:
print(vid_users)

{'squats': [{'in_and_out': [78, 122, 150, 189, 209, 255, 325, 368, 392, 439, 551, 602, 620, 670, 685, 732, 748, 795, 865, 920, 990, 1038, 1050, 1099, 1112, 1160, 1170, 1216, 1379, 1424, 1432, 1473, 1485, 1535, 1550, 1593, 1620, 1666, 1745, 1777, 1790, 1823, 1835, 1872, 1882, 1920, 1931, 1964], 'class_label': ['correct', 'correct', 'correct', 'correct', 'correct', 'incorrect_chin_tuck', 'incorrect_chin_tuck', 'incorrect_chin_tuck', 'incorrect_chin_tuck', 'incorrect_lean_fwd', 'incorrect_lean_fwd', 'incorrect_lean_fwd', 'incorrect_lean_fwd', 'incorrect_lean_fwd', 'incorrect_feet_close', 'incorrect_feet_close', 'incorrect_feet_close', 'incorrect_feet_close', 'incorrect_feet_close', 'incorrect_not_low', 'incorrect_not_low', 'incorrect_not_low', 'incorrect_not_low', 'incorrect_not_low']}]}

In [ ]:
p1 = pd.DataFrame.from_dict(j1, orient='columns', dtype=None, columns=None)
p2 = pd.DataFrame.from_dict(j2, orient='columns', dtype=None, columns=None)
p3 = pd.DataFrame.from_dict(j3, orient='columns', dtype=None, columns=None)
p4 = pd.DataFrame.from_dict(j4, orient='columns', dtype=None, columns=None)
p5 = pd.DataFrame.from_dict(j5, orient='columns', dtype=None, columns=None)
p6 = pd.DataFrame.from_dict(j6, orient='columns', dtype=None, columns=None)
p7 = pd.DataFrame.from_dict(j7, orient='columns', dtype=None, columns=None)
p8 = pd.DataFrame.from_dict(j8, orient='columns', dtype=None, columns=None)
p9 = pd.DataFrame.from_dict(j9, orient='columns', dtype=None, columns=None)

In [ ]:
newdf = [p1,p2,p3,p4,p5,p6,p7,p8,p9]
neddd = pd.concat(newdf)
print(neddd)

                                              squats
0  {'in_and_out': [45, 100, 108, 164, 170, 230, 2...
0  {'in_and_out': [30, 91, 100, 150, 164, 213, 21...
0  {'in_and_out': [67, 130, 144, 205, 218, 280, 2...
0  {'in_and_out': [23, 82, 94, 153, 165, 228, 238...
0  {'in_and_out': [20, 94, 110, 175, 194, 260, 27...
0  {'in_and_out': [44, 117, 126, 194, 203, 262, 2...
0  {'in_and_out': [39, 106, 117, 187, 200, 265, 2...
0  {'in_and_out': [37, 90, 98, 150, 159, 212, 225...
0  {'in_and_out': [29, 64, 72, 106, 115, 154, 158...

In [ ]:
neddd.head()

                                                        0
squats  {'in_and_out': [45, 100, 108, 164, 170, 230, 2...
squats  {'in_and_out': [30, 91, 100, 150, 164, 213, 21...
squats  {'in_and_out': [67, 130, 144, 205, 218, 280, 2...
squats  {'in_and_out': [23, 82, 94, 153, 165, 228, 238...
squats  {'in_and_out': [20, 94, 110, 175, 194, 260, 27...